<footer class="footerDiv">
  <!-- Section: Social media -->
  <section class="networks">
    <!-- Left -->
    <div>
      <h3  style="color: rgb(24, 4, 4);font-family: 'Lobster', cursive; font-size: 25px;margin-top: 2vh;">Get connected with us on social networks:</h3>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <ul class="social-network social-circle">
        <!-- Your social media icons here -->
        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    
    <!-- Right -->
  </section>
  <hr style="background-color: black;">
  <!-- Section: Social media -->

  <!-- Section: Links -->
  <section class="links-section">
    <!-- Company -->
    <div>
      <h1 style="color: rgb(24, 4, 4);font-family:'Times New Roman', Times, serif; font-size: 25px;margin-top: 2vh;">COMPANY</h1>
      <p>
        About Us
       </p>
       <p>
         Team
        </p>
       <p>
         Careers
        </p>
        <p>
         Blog
        </p>
      <!-- Company links -->
    </div>

    <!-- Services -->
    <div>
      <h1  style="color: rgb(24, 4, 4);font-family:'Times New Roman', Times, serif; font-size: 25px;margin-top: 2vh;">SERVICES</h1>
      <p>
        Orders
      </p>
      <p>
        Restaurants
      </p>
      <p>
       Investor Relations
      </p>
      <p>
        Partner With Us
      </p>
      <!-- Services links -->
    </div>

    <!-- Learn More -->
    <div>
      <h1  style="color: rgb(24, 4, 4);font-family:'Times New Roman', Times, serif; font-size: 25px;margin-top: 2vh;">LEARN MORE</h1>
      <p>
        Privacy
      </p>
      <p>
       Security
      </p>
      <p>
       Terms
      </p>
      <p>
       Sitemap
      </p>
      <!-- Learn More links -->
    </div>

    <!-- Contact Us -->
    <div>
      <h1  style="color: rgb(24, 4, 4);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px;margin-top: 2vh;">CONTACT US</h1>
      <p ><i class="fa fa-home me-3" style="margin-right: 15px;" ></i>Mumbai, MUM 400702, IN</p>
          <p>
            <i class="fa fa-envelope me-3" style="margin-right: 15px;"></i>
            <!-- info@jiffy.com -->
          </p>
          <p><i class="fa fa-phone me-3" style="margin-right: 15px;"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print me-3" style="margin-right: 15px;"></i> + 01 234 567 89</p>
      <!-- Contact Us information -->
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div style="background-color:rgb(165, 163, 163); text-align: center; height: 50px; padding-top: 15px;">
    © 2024 Copyright:
    <a style="background-color: rgb(136, 135, 135);color: black;" class="text-reset fw-light">yummy.com</a>
  </div>
  <!-- Copyright -->
</footer>
