<!-- 
<h1>My Restuarants</h1>
<ng-container *ngIf="dataloaded" >
  

<mat-grid-list cols="3" rowHeight="300px" style="margin-bottom: 40px; margin-top: 30px; width: 100%; "*ngIf="displayMessage(); else emptyBlock">

  <mat-grid-tile style="margin-top: 30px;margin-bottom: 60px;" *ngFor="let restaurant of displayRestaurantss" class="list" >
    <mat-card   (click)="navigateToRestaurantDetails(restaurant.restId)"  class="dashboard-card"    >
            
      <img  [src]="restaurant.imageUrl" alt="image not found" >
      <mat-card-content class="dashboard-card-content">
        <h1 >{{restaurant.name|titlecase}}</h1> 
       
        <h3 ><mat-icon>location</mat-icon>{{restaurant.location}}   </h3> 
      </mat-card-content>
      <div style="display: flex;justify-content: space-between;">    
        <a routerLink=""    *ngIf="ass.isAdmin && !ass.isUser"     (click)="deleteRestaurant(restaurant.restId)"><mat-icon >delete</mat-icon></a> 
        <a [routerLink]="['/EditRestaurants', restaurant.restId]"   *ngIf="ass.isAdmin && !ass.isUser"   ><mat-icon  >edit</mat-icon></a>
      </div>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #emptyBlock><h1 class="message">Oops! No  Restaurant found...  please add Restaurant 😥</h1></ng-template> 
</ng-container>
 -->
 <div style="margin-top: 20px;margin-left: 20px;" >
  <p style="font-family: 'Belanosima', sans-serif, 'Cinzel', serif; font-size: xx-large; margin-bottom: 30px;">MY RESTAURANTS</p>
</div>
  <ng-container *ngIf="dataloaded">
    <div class="main" *ngIf="displayRestaurantss && displayRestaurantss.length > 0; else emptyBlock">
      <div class="dishcard" *ngFor="let restaurant of displayRestaurantss" (click)="navigateToRestaurantDetails(restaurant.restId)">
        <img class="images" [src]="restaurant.imageUrl" alt="{{restaurant.name}}">
        <p class="restaurantName">{{restaurant.restId |titlecase}}</p>
            <h3 style="color: black;margin-bottom: 10px;text-align: left;margin-left: 15px;font-family: Verdana, Geneva, Tahoma, sans-serif">{{restaurant.location |titlecase}}</h3>
        <div style="display: flex;justify-content: space-between;">
          <button routerLink="" *ngIf="ass.isAdmin && !ass.isUser" (click)="deleteRestaurant(restaurant.restId)" class="btns" style="margin-left: 10px;">Delete</button>
          <button [routerLink]="['/EditRestaurants', restaurant.restId]" *ngIf="ass.isAdmin && !ass.isUser" class="btns" style="margin-right: 10px;">Edit</button>
        </div>
      </div>
    </div>
  
    <ng-template #emptyBlock>
      <h1 class="message">Oops! No Restaurant found... please add Restaurant 😥</h1>
    </ng-template>
  </ng-container>












