
.example-card {
    max-width: 400px;
    min-height: 300px;
    margin-left: 60%;

    border: 1px black;
    padding: 30px;
    box-shadow: 0 6px 8px rgb(116, 115, 114);

}
.full-page-background {
    /* Background image for the entire page */
    background-image: url('../../assets/BackgroundImages/view-food-assortment-with-copy-space (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.example-form{
    padding-top: 100px;
}






