

.example-card {
    max-width: 500px;
    min-height: 100px;
    margin-left: 55%;

    border: 1px black;
    padding: 20px;
    box-shadow: 0 6px 8px rgb(116, 115, 114);

}
mat-form-field {
    min-height: 5px;
}
.full-page-background {
    /* Background image for the entire page */
    background-image: url('../../assets/BackgroundImages/view-food-assortment-with-copy-space (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.example-form{
    padding-top: 20px;
}