<form [formGroup]="editform" novalidate>
    <mat-card class="example-card">
        <h1 style="color: rgb(103, 33, 24);">UPDATE RESTAURANT</h1>

        <mat-form-field>
            <mat-label>Restaurant Name</mat-label>
            <input matInput formControlName="restId">
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Restaurant Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field> -->

        <mat-form-field>
            <mat-label>Restaurant Location</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>

        <button mat-raised-button color="primary" style="background-color: rgb(81, 79, 78);color: aliceblue;"
            (click)="editRestaurant()">UPDATE</button>
    </mat-card>
</form>