<img style="padding:40px; border-radius: 50px;" [src]="displayRestaurant.imageUrl" alt="image not found" width="100%"
  height="90%">
<!-- <div>
  <h1 style="  font-family: 'Belanosima', sans-serif; font-family: 'Cinzel', serif;margin-left: 40px;">
    <mat-icon style="color: black;margin-left: 15px;">location_on</mat-icon>{{displayRestaurant.location}}
  </h1>
</div> -->
<h1 class="h1tag">{{displayRestaurant.name |titlecase}}</h1>

<mat-form-field style="margin-left: 30%; width:40% ; margin-top: 20px;">
  <mat-label>Search for Dishes here</mat-label>
  <input matInput [(ngModel)]="searchString" (mouseenter)="filter()">
  <mat-icon matSuffix (click)="filter()">search</mat-icon>
</mat-form-field>

<div class="button-container">
  <button class="sortButton" mat-button [matMenuTriggerFor]="aboveMenu">
    <mat-icon>filter_list</mat-icon>Filter By
  </button>
  <mat-menu #aboveMenu="matMenu" Position="above">
    <button mat-menu-item (click)="sortType('Veg')">Veg</button>
    <button mat-menu-item (click)="sortType('Non-Veg')">Non-Veg</button>
    <button mat-menu-item (click)="sortType('allDishes')">All Dishes</button>
  </mat-menu>

  <button class="sortButton" mat-button [matMenuTriggerFor]="priceMenu">
    <mat-icon>sort</mat-icon>Sort By Price
  </button>
  <mat-menu #priceMenu="matMenu" Position="above">
    <button mat-menu-item (click)="sortPrice('Highest')">Highest to Lowest</button>

    <button mat-menu-item (click)="sortPrice('Lowest')">Lowest to Highest</button>
  </mat-menu>


  <button class="sortButton" mat-button (click)="toggleMenu()">Menu</button>
  <div style="border: 2px solid black; padding: 20px; font-size:x-large;" *ngIf="menuVisible">
    <h2 style="text-align: center;">Menu</h2>
    <ol>
      <li *ngFor="let dish of displayRestaurant.dishList" style="margin-top: 15px;">
        {{ dish.dishname }} - {{ dish.price | currency }}
      </li>
    </ol>
  </div>
</div>


<div class="main">
  <div class="dishcard" *ngFor="let dish of displayRestaurant.dishList">
    <img class="images" [src]="dish.imageUrl" alt={{dish.dishname}}>
    <p style="font-size:x-large;margin-top: 1vh;">{{dish.dishname}}</p>
    <p style="margin-left: 0vw; font-size:3.5vh;margin-top: 0vh;">
      <ng-container *ngFor="let _ of [].constructor(dish.rating)">
        <mat-icon class="star-icon">star</mat-icon>
      </ng-container>

    <p style="margin-left: -18vw; font-size:3.5vh;margin-top: 4vh; ">&#8377; {{dish.price}}</p>
    <mat-icon class="addToCartButton" *ngIf="ass.isAdmin==false || ass.isUser==true" (click)=" addtocart(dish)"
      style="background-color: transparent; color: black;">shopping_cart</mat-icon>

    <mat-icon class="favIcon" *ngIf="ass.isAdmin==false || ass.isUser==true"
      (click)="addDishtoFavv(dish)">favorite_border</mat-icon>
    <div style="display: flex;justify-content: space-between;">

      <button *ngIf="ass.isAdmin && !ass.isUser" (click)="delete(displayRestaurant.restId, dish.dishID)" class="btns"
        style="margin-left: 10px;">delete</button>
      <button *ngIf="ass.isAdmin && !ass.isUser" [routerLink]="['/EditDish', displayRestaurant.restId, dish.dishID]"
        class="btns" style="margin-right: 10px;">Edit</button>
    </div>
  </div>