



  <mat-grid-list cols="3" rowHeight="300px" style="margin-bottom: 40px; margin-top: 20px; width: 100%; " *ngIf="displayMessage(); else emptyBlock">
    <mat-grid-tile *ngFor="let restaurant of displayRestaurantss" class="list">
      <mat-card class="dashboard-card"  style="margin-left: 40px; border-radius: 20px;width: 300%;"  >
              
        <img  style="padding: 15px;border-radius: 20px;height: 200px;padding-top: 20px;" [src]="restaurant.imageUrl" alt="image not found" width="100%" height="100%">
        <mat-card-content class="dashboard-card-content">
          <h1 style="font-weight: bolder;font-family:Georgia, 'Times New Roman', Times, serif;text-align: center;">{{restaurant.name|titlecase}}</h1> 
          <h3 style="text-align: start; margin-left: 30px;">
            <i class="material-icons">location_on</i> {{restaurant.location |titlecase}}
            
          </h3>
          <button style="margin-left: 20px; border: 1px solid rgb(247, 246, 247);"   (click)="delete(restaurant.restId)">
            <mat-icon style="color: rgb(96, 155, 244); font-size: xx-large; " class="search-icon" aria-hidden="false"
                aria-label="Delete icon" fontIcon="delete">
            </mat-icon>
        </button>
        </mat-card-content>
  

  
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #emptyBlock><h1 class="message">Oops! You have no favourite Restaurant 😥</h1></ng-template> 