



 <!-- <h2>{{userEmail.userName}}</h2> -->
<img src="../../assets/Modern Indian Food Instagram Post.gif" alt="" width="100%" height="80%" >

<!-- <video width="640" height="360" controls>
  <source src="../../assets/Modern Indian Food Instagram Post (2).mp4" type="video/mp4">
 
</video> -->

<div style=" background-color:rgb(249, 247, 242);">
  <mat-form-field style="margin-left: 30%; width:40% ; margin-top: 60px;">
 
    <input matInput placeholder="Search for Restaurants here" [(ngModel)]="searchString" (mouseenter)="filter()" >
    <mat-icon matSuffix (click)="filter()" >search</mat-icon>
  </mat-form-field>
  <div class="topRestoutantsTitle"style="background-color:rgb(249, 247, 242);" >
    <p style="  font-family: 'Belanosima', sans-serif;
    font-family: 'Cinzel', serif;" >Top Restaurants For You</p >
  </div>
</div>



<div class="restaurantData" >
  <tr  *ngFor="let restaurant of displayRestaurantss" >
    <div style=" margin-bottom: 200px;" (click)="navigateToRestaurantDetails(restaurant.restId)">

      <a >
          <div class="restaurantCard">
           
              <img  class="image" [src]="restaurant.imageUrl" alt="image not found">
              <p class="restaurantName">{{restaurant.name}}</p>
          </div>
      </a>
      <mat-icon class="favButton"  *ngIf="ass.isAdmin==false || ass.isUser==true"   (click)="addtofav(restaurant)">favorite</mat-icon>


    </div>

  </tr>


</div>











