<img src="../../assets/Modern Indian Food Instagram Post.gif" alt="" width="100%" height="80%">




<div style="display: flex;margin-top: 80px;margin-bottom: 80px;">
  <div style="margin-left: 45vh;">
    <h1 style="  font-family: 'Belanosima', sans-serif;
  font-family: 'Cinzel', serif;"><mat-icon style="color: black;">location_on</mat-icon>Bangalore</h1>
  </div>
  <div style="margin-left: 30px;">
  
    <input matInput type="text" style="border-radius: 20px; padding: 10px;width: 250%;height: 50px; box-shadow: 0 0 5em -1em black;border: 2px solid black;" placeholder="Search for Restaurants here" [(ngModel)]="searchString" (input)="filter()">
  </div>
</div>




<div>

  <div class="topRestoutantsTitle">
    <p style="  font-family: 'Belanosima', sans-serif;
    font-family: 'Cinzel', serif;">Top Restaurants For You</p>
  </div>
</div>


<div class="restaurantData">
  <tr *ngFor="let restaurant of displayedRestaurants">
    <div *ngIf="restaurant.status==true">
      <div style=" margin-bottom: 80px;" (click)="navigateToRestaurantDetails(restaurant.restId)">

        
          <div class="restaurantCard">

            <img class="image" [src]="restaurant.imageUrl" alt="image not found">
            <!-- <p class="restaurantName">{{restaurant.name}}</p> -->
            <p class="restaurantName">{{restaurant.restId  |titlecase}}</p>
            <h3 style="color: black;margin-bottom: 10px;text-align: left;margin-left: 15px;font-family: Verdana, Geneva, Tahoma, sans-serif">{{restaurant.location |titlecase}}</h3>
          </div>
      
        <mat-icon class="favButton" *ngIf="ass.isAdmin==false || ass.isUser==true"
          (click)="addtofav(restaurant, $event);$event.stopPropagation();">favorite_border</mat-icon>


      </div>
      
    </div>
  </tr>


</div>

<div style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: 80px;">
  <button mat-raised-button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
  <div style="margin: 0 20px;">
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <button style="margin-right: 10px;" mat-raised-button
              (click)="onPageChange(i)"
              [color]="currentPage === i ? 'warn' : ''">
        {{i + 1}}
      </button>
    </ng-container>
  </div>
  <button mat-raised-button (click)="onPageChange(currentPage + 1)" [disabled]="(currentPage + 1) * pageSize >= allRestaurants.length">Next</button>
</div>
