<img src="../../assets/Modern Indian Food Instagram Post.gif" alt="" width="100%" height="80%">


<div style="display: flex; margin-top: 100px;margin-left: 40px;">
  <div>
    <h1 style="  font-family: 'Belanosima', sans-serif;
  font-family: 'Cinzel', serif;"><mat-icon style="color: black;">location_on</mat-icon>Bangalore</h1>
  </div>
  <div style="margin-left: 100px;">
    <mat-form-field style="margin-bottom: 50px;width: 200%;">


      <input matInput placeholder="Search for Restaurants here" [(ngModel)]="searchString" (mouseenter)="filter()">
      <mat-icon matSuffix (click)="filter()">search</mat-icon>
    </mat-form-field>
  </div>

</div>

<div>

  <div class="topRestoutantsTitle">
    <p style="  font-family: 'Belanosima', sans-serif;
    font-family: 'Cinzel', serif;">Top Restaurants For You</p>
  </div>
</div>


<div class="restaurantData">
  <tr *ngFor="let restaurant of displayedRestaurants">
    <div *ngIf="restaurant.status==true">
      <div style=" margin-bottom: 80px;" (click)="navigateToRestaurantDetails(restaurant.restId)">

        
          <div class="restaurantCard">

            <img class="image" [src]="restaurant.imageUrl" alt="image not found">
            <p class="restaurantName">{{restaurant.name}}</p>
            <h4 style="color: black;margin-bottom: 10px;"><mat-icon
                style="color: black;">location_on</mat-icon>{{restaurant.location |titlecase}}</h4>
          </div>
      
        <mat-icon class="favButton" *ngIf="ass.isAdmin==false || ass.isUser==true"
          (click)="addtofav(restaurant, $event)">favorite_border</mat-icon>


      </div>
      
    </div>
  </tr>


</div>

<div style="display: flex; justify-content: center; margin-top: 50px; margin-bottom: 80px;">
  <button mat-raised-button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
  <div style="margin: 0 20px;">
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <button style="margin-right: 10px;" mat-raised-button
              (click)="onPageChange(i)"
              [color]="currentPage === i ? 'warn' : ''">
        {{i + 1}}
      </button>
    </ng-container>
  </div>
  <button mat-raised-button (click)="onPageChange(currentPage + 1)" [disabled]="(currentPage + 1) * pageSize >= allRestaurants.length">Next</button>
</div>
