.example-card {
    max-width: 600px;
    min-height: 400px;
    margin-left: 30%;
    margin-top: 4%;
    border: 1px black;
    padding: 30px;
    box-shadow: 0 6px 8px rgb(58, 57, 57);

}

button {
    background-color: rgb(104, 94, 245);
    color: azure;
    height: 50px;
}

  
.message{
    font-family: 'Lobster', cursive;
    margin-left: 15vw;
    font-size: 8vh;
    margin-top: 20vh;
    margin-bottom: 30vh;
    color: rgb(130,42,42);
  }
  mat-form-field {
    min-height: 5px;
}

h1 {
    color: rgb(145, 26, 24);
    font-weight: bolder;
}
    .shadow-form {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
    
}
